@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Ubuntu Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

body {
    width: 100%;
    margin: auto;
    display: block;
    background: black;
    color: white;
}


.header {
    position:fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 2rem 20%;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}
.logo {
    font-size: 25px;
    font-weight: 700;
    color: white;
    cursor: pointer;
}
.logo:hover{
    color: rgb(14, 147, 236);
}
.point{
    font-size: 35px;
    font-weight: 700;
    color: rgb(14, 147, 236);
}
.navbar a {
    
    color: white;
    margin-left: 2rem;
    font-weight: 700;
}
.navbar a:hover,
.navbar a:active{
    color: rgb(14, 147, 236);
}
#menu-icon{
    display: none;
} 
#vt{
    border: 2px solid rgb(14, 147, 236);
    padding: 0.8rem;
    border-radius: 1rem;
    background-color: white;
    color: black;
    box-shadow: 0 0 10px rgb(14, 147, 236),
                0 0 20px rgb(14, 147, 236),
                0 0 30px rgb(14, 147, 236),
                0 0 40px rgb(14, 147, 236);
}
#vt:hover{
    color: rgb(14, 147, 236);
}

/*--HOME SECTION--*/
.contact{
    display: block;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
    padding: 3% 30% ;
}
 .contact h2{ 
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
}
.head span {
    color: rgb(14, 147, 236);
}

.contact form {
    display: block;
    justify-content: center;
    text-align: center;
    
}
.contact form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.1rem;
}
.nb{
    display: flex;
    width: 49%;
    position: relative;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: white;
    background: black;
    border-radius: 2rem;
    margin: 0.7rem 0;
    background: transparent;
    border: 2px solid rgb(14, 147, 236);
}

.contact form .input-box input {
    flex: 1 1 48%;
}

.contact form textarea {
    height: 200px;
    resize: none;
    width: 100%;
}

.contact form .btn{
    padding: 0.8rem;
    width: 7rem;
    background: transparent;
    border: 2px solid rgb(14, 147, 236);
    color: white;
    border-radius: 2rem;
    margin-top: 2rem;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.contact form .btn:hover{
    width: 7rem;
    padding: 0.8rem;
    background: rgb(14, 147, 236);
    border: 2px solid rgb(14, 147, 236);
    color: white;
    border-radius: 2rem;
    animation: floatImage 3s ease-in-out infinite;
    display: inline-block;
    margin-top: 1.5rem;
    transition: 0.5s;
    transition: 0.5s ease-in-out;
}
input:focus + label {
    transform: translateY(-25px);
}
input:not(:placeholder-shown) + label {
    transform: translateY(-25px);
}
label{
    position: absolute;
    top: 1.8rem;
    left: 1rem;
    transition: 0.5s ease-in-out;
    background-color: black;
    padding: 0 0.5rem 0 0.5rem ;
    border-radius: 50%;
}
