@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Ubuntu Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

body {
    width: 100%;
    margin: auto;
    display: block;
    background: black;
    color: white;
}
.home{
    display: flex;
    min-height: 100vh;
    padding: 4rem 20% 2rem;
    justify-content: space-between;
}

.header {
    position:fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 2rem 20%;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}
.logo {
    font-size: 25px;
    font-weight: 700;
    color: white;
    cursor: default;
}
.point{
    font-size: 35px;
    font-weight: 700;
    color: rgb(14, 147, 236);
}
.navbar a {
    
    color: white;
    margin-left: 2rem;
    font-weight: 700;
}
.navbar a:hover,
.navbar a:active{
    color: rgb(14, 147, 236);
}
#menu-icon{
    display: none;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-content h3{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
span{
    color: rgb(14, 147, 236);
    margin-bottom: 0.5rem;
}
.home-content h1{
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.3;
    
}
.home-img {
    position: relative;
    display: inline-block;
    border: 4px dashed rgb(14, 147, 236);
    border-radius: 50%; /* Pour correspondre à la forme arrondie */
    padding: 5px;
    
}
.home-img img {
    width: 25vw;
    border-radius: 50%;
    display: block;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-0.4rem);
    }
    100% {
        transform: translateY(0);
    }
}
.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 2));
    border-radius: 50%; 
    pointer-events: none; 
    z-index: 2; 
}

.home-content P{
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 1.5rem;
}
.social-media a:not(#cv){
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: transparent;
    border: 2px solid rgb(14, 147, 236);
    border-radius: 50%;
    margin-left: 10px;
    color: white;
    
    transition:  .5s ease;
}
#cv{
    padding: 10px;
    background: transparent;
    border: 2px solid rgb(14, 147, 236);
    color: white;
    border-radius: 10%;
    animation: floatImage 3s ease-in-out infinite;
    display: inline-block;
    
}
.social-media a:not(#cv):hover{
    background: rgb(14, 147, 236);
    
}