@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Ubuntu Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

body {
    width: 100%;
    margin: auto;
    display: block;
    background:black;
    color: white;
}

.header {
    position:fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 2rem 20%;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}
.logo {
    font-size: 25px;
    font-weight: 700;
    color: white;
    cursor: pointer;
}
.logo:hover{
    color: rgb(14, 147, 236);
}
.point{
    font-size: 35px;
    font-weight: 700;
    color: rgb(14, 147, 236);
}
.navbar a {
    
    color: white;
    margin-left: 2rem;
    font-weight: 700;
}
#vt{
    border: 2px solid rgb(14, 147, 236);
    padding: 0.8rem;
    border-radius: 1rem;
    background-color: white;
    color: black;
    box-shadow: 0 0 10px rgb(14, 147, 236),
                0 0 20px rgb(14, 147, 236),
                0 0 30px rgb(14, 147, 236),
                0 0 40px rgb(14, 147, 236);
}
#vt:hover{
    color: rgb(14, 147, 236);
}
.navbar a:hover{
    color: rgb(14, 147, 236);
}
.navbar a:active{
    color: white;
}
#menu-icon{
    display: none;
}
/* BODY PAGE */
.home{
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    align-items: center;
    margin: 0 20rem;
}
.home .head{ 
    padding: 0 2rem;
    margin-top: 8rem;
    margin-bottom: 3rem;
    font-size: 3rem;
    font-weight: 700;
    background-color: black;
    
}
.head span {
    color: rgb(14, 147, 236);
}
.big-carton{
    height: auto;
    width: 120vh;
    border-radius: 2rem;
}
.intro-card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    width: 100%;
    background-color: rgb(14, 147, 236);
    font-size: 2rem;
    font-weight: 700;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3),
                0px 20px 30px rgba(0, 0, 0, 0.3),
                0px 30px 40px rgba(0, 0, 0, 0.3); 
    transform: translateY(-15px); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 1rem;
}
.title-card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 35%;
    color: aliceblue;
    /* background-color: rgb(35, 37, 37); */
    font-size: 2rem;
    font-weight: 700;
    border-radius: 15px;
    margin-bottom: 1rem;
}
.actus{
    height: auto;
    width: 100%;
    display: flex;

}
.actu{
    position: relative;
    height: 15rem;
    width: 33%;
    margin-right: 0.5rem;
    background-color: white;
    margin-bottom: 1rem;
    transition:  .5s ease;  
}
.actu:hover{
    transform: scale(1.1,1.1);
}
.actu .title-actu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 100%;
    color: rgb(14, 147, 236);
    background-color: white;
}
.actu .img-actu{
    height: 85%;
    width: 100%;
    overflow: hidden;
    
}
.actu .img-actu img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}